
//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";



//
// Buttons
// --------------------------------------------------

// Common styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  .box-shadow(@shadow);

  // Reset the shadow
  &:active,
  &.active {
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }
}

// Mixin for generating new styles
.btn-styles(@btn-color: #555) {
  #gradient > .vertical(@start-color: @btn-color; @end-color: darken(@btn-color, 12%));
  .reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners
  background-repeat: repeat-x;
  border-color: darken(@btn-color, 14%);

  &:hover,
  &:focus  {
    background-color: darken(@btn-color, 12%);
    background-position: 0 -15px;
  }

  &:active,
  &.active {
    background-color: darken(@btn-color, 12%);
    border-color: darken(@btn-color, 14%);
  }

  &:disabled,
  &[disabled] {
    background-color: darken(@btn-color, 12%);
    background-image: none;
  }
}

// Common styles
.btn {
  // Remove the gradient for the pressed/active state
  &:active,
  &.active {
    background-image: none;
  }
}

// Apply the mixin to the buttons
.btn-default { .btn-styles(@btn-default-bg); text-shadow: 0 1px 0 #fff; border-color: #ccc; }
.btn-primary { .btn-styles(@btn-primary-bg); }
.btn-success { .btn-styles(@btn-success-bg); }
.btn-info    { .btn-styles(@btn-info-bg); }
.btn-warning { .btn-styles(@btn-warning-bg); }
.btn-danger  { .btn-styles(@btn-danger-bg); }



//
// Images
// --------------------------------------------------

.thumbnail,
.img-thumbnail {
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
}



//
// Dropdowns
// --------------------------------------------------

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  #gradient > .vertical(@start-color: @dropdown-link-hover-bg; @end-color: darken(@dropdown-link-hover-bg, 5%));
  background-color: darken(@dropdown-link-hover-bg, 5%);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  #gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
  background-color: darken(@dropdown-link-active-bg, 5%);
}



//
// Navbar
// --------------------------------------------------

// Default navbar
.navbar-default {
  #gradient > .vertical(@start-color: lighten(@navbar-default-bg, 10%); @end-color: @navbar-default-bg);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered
  border-radius: @navbar-border-radius;
  @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  .box-shadow(@shadow);

  .navbar-nav > .active > a {
    #gradient > .vertical(@start-color: darken(@navbar-default-bg, 5%); @end-color: darken(@navbar-default-bg, 2%));
    .box-shadow(inset 0 3px 9px rgba(0,0,0,.075));
  }
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

// Inverted navbar
.navbar-inverse {
  #gradient > .vertical(@start-color: lighten(@navbar-inverse-bg, 10%); @end-color: @navbar-inverse-bg);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered

  .navbar-nav > .active > a {
    #gradient > .vertical(@start-color: @navbar-inverse-bg; @end-color: lighten(@navbar-inverse-bg, 2.5%));
    .box-shadow(inset 0 3px 9px rgba(0,0,0,.25));
  }

  .navbar-brand,
  .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  }
}

// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}



//
// Alerts
// --------------------------------------------------

// Common styles
.alert {
  text-shadow: 0 1px 0 rgba(255,255,255,.2);
  @shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
  .box-shadow(@shadow);
}

// Mixin for generating new styles
.alert-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 7.5%));
  border-color: darken(@color, 15%);
}

// Apply the mixin to the alerts
.alert-success    { .alert-styles(@alert-success-bg); }
.alert-info       { .alert-styles(@alert-info-bg); }
.alert-warning    { .alert-styles(@alert-warning-bg); }
.alert-danger     { .alert-styles(@alert-danger-bg); }



//
// Progress bars
// --------------------------------------------------

// Give the progress background some depth
.progress {
  #gradient > .vertical(@start-color: darken(@progress-bg, 4%); @end-color: @progress-bg)
}

// Mixin for generating new styles
.progress-bar-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 10%));
}

// Apply the mixin to the progress bars
.progress-bar            { .progress-bar-styles(@progress-bar-bg); }
.progress-bar-success    { .progress-bar-styles(@progress-bar-success-bg); }
.progress-bar-info       { .progress-bar-styles(@progress-bar-info-bg); }
.progress-bar-warning    { .progress-bar-styles(@progress-bar-warning-bg); }
.progress-bar-danger     { .progress-bar-styles(@progress-bar-danger-bg); }

// Reset the striped class because our mixins don't do multiple gradients and
// the above custom styles override the new `.progress-bar-striped` in v3.2.0.
.progress-bar-striped {
  #gradient > .striped();
}


//
// List groups
// --------------------------------------------------

.list-group {
  border-radius: @border-radius-base;
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 darken(@list-group-active-bg, 10%);
  #gradient > .vertical(@start-color: @list-group-active-bg; @end-color: darken(@list-group-active-bg, 7.5%));
  border-color: darken(@list-group-active-border, 7.5%);
}



//
// Panels
// --------------------------------------------------

// Common styles
.panel {
  .box-shadow(0 1px 2px rgba(0,0,0,.05));
}

// Mixin for generating new styles
.panel-heading-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 5%));
}

// Apply the mixin to the panel headings only
.panel-default > .panel-heading   { .panel-heading-styles(@panel-default-heading-bg); }
.panel-primary > .panel-heading   { .panel-heading-styles(@panel-primary-heading-bg); }
.panel-success > .panel-heading   { .panel-heading-styles(@panel-success-heading-bg); }
.panel-info > .panel-heading      { .panel-heading-styles(@panel-info-heading-bg); }
.panel-warning > .panel-heading   { .panel-heading-styles(@panel-warning-heading-bg); }
.panel-danger > .panel-heading    { .panel-heading-styles(@panel-danger-heading-bg); }



//
// Wells
// --------------------------------------------------

.well {
  #gradient > .vertical(@start-color: darken(@well-bg, 5%); @end-color: @well-bg);
  border-color: darken(@well-bg, 10%);
  @shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
  .box-shadow(@shadow);
}

body {
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 51px;
}

p, table th, table td {
  font-size: 14px;
  line-height: 24px;
}

@font-face {
    font-family: 'nn5-zawgyi-one-regular';
    src: url('../fonts/nn5-zawgyi-one.eot');
    src: url('../fonts/nn5-zawgyi-one.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nn5-zawgyi-one.woff') format('woff'),
         url('../fonts/nn5-zawgyi-one.ttf') format('truetype'),
         url('../fonts/nn5-zawgyi-one.svg#zawgyi-oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.burmese {
  // font-family: Zawgyi-One;
  font-family: 'nn5-zawgyi-one-regular', 'Zawgyi-One';
}

.com-name {
  margin-bottom: 50px;
  h1 {
    font-family: Palatino, Arial;
    font-size: 26px;
    text-align: center;
    color: #de1e34;
    line-height: 100%;
  }
  p {
    font-size: 14px;
    text-align: center
  }
    
}

.com-visual {
  background: url(../upload/bg_visual.jpg) no-repeat;
  background-size: cover;
  .logo-con {
      padding: 50px 0;
      text-align: center;
    .logo {
      width: 250px;
      height: 250px;
    }
  }
  .event-name {
    font-family: Palatino;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 1px 1.732px 5px rgb( 0, 0, 0 );
  }
  .event-name-sub, .event-desc {
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    text-shadow: 1px 1.732px 5px rgb( 0, 0, 0 );
  }
  .event-name-sub {
    margin-bottom: 36px;
  }
  .btn-con {
    text-align: center;
    padding: 20px 0;
    .img {

    }
  }
}

.com-feature {
  padding: 50px 0;
  .list-feature {
    list-style-type: none;
    font-size: 14px;
    line-height: 24px;
    padding-left: 0;
    li {
      margin-bottom: 24px;
      padding-left: 40px;
      background: url(../upload/check.png) no-repeat left top;
      cite {
        font-size: 24px;
        font-style: italic;
        line-height: 150%;
      }
    }
    
  }
}

.com-agenda {
  background-color: #f2f2f2;
  border-top: solid 1px #cecece;
  border-bottom: solid 1px #cecece;
  padding: 50px 0;
}

.com-alert {
  background: none;
  background-color: #fffeef;
  border: 1px solid #e3be3d;
  color: #b75716;
  p {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .com-alert p {
    padding-left: 50px;
    background: url(../upload/info.png) no-repeat left top;
  }
}

.btn-register-con {
  text-align: center;
  .btn-register {
    background: none;
    background-color: #de1e34;
    border-color: #a60c1e;
    font-size: 24px;
    padding: 20px 32px;
    border-radius: 10px;
  }
}

.com-sponsor {
  padding: 50px 0;
  .com-company {
    .caption {
      border-top: solid 1px #cfcfcf;
      h3 {
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        text-align: center;
        min-height: 50px;
      }
      p {
        font-size: 14px;
        max-height: 165px;
        overflow: hidden;
        word-wrap: break-word;
        max-width: 100%;
      }
    }

    .thumbnail-company.expand{
      z-index: 1000;
      .box-shadow(0 3px 6px rgba(0,0,0,.33));
    }

    

    .thumbnail-company.expand .description {
      max-height: none;
      overflow: visible;
    }
  }
}

@media (min-width: 768px) {
  .thumbnail-company.expand{
    position: absolute;
  }
}

.com-benefit {
  background-color: #f2f2f2;
  border-top: solid 1px #cecece;
  border-bottom: solid 1px #cecece;
  padding: 50px 0;
  .list-benefit {
    list-style-type: none;
    font-size: 14px;
    line-height: 24px;
    padding-left: 0;
    li {
      margin-bottom: 24px;
      /*padding-left: 70px;*/
      padding-left: 40px;
      
      h4 {
        color: #a71f2c;
        /*font-size: 24px;*/
        font-size: 18px;
        line-height: 150%;
      }
      
      cite {
        font-size: 24px;
        font-style: italic;
        line-height: 150%;
      }
    }
    li.clock {
      background: url(../upload/clock.png) no-repeat left top;
    }
    li.speaker {
      background: url(../upload/speaker.png) no-repeat left top;
    }
    li.chain {
      background: url(../upload/chain.png) no-repeat left top;
    }
    
  }
}

.com-guide {
  padding: 50px 0;
  .map-con {
    margin-bottom: 30px;
  }
}

.com-footer {
  background-color: #f2f2f2;
  border-top: solid 1px #cecece;
  border-bottom: solid 1px #cecece;
  padding: 30px 0;
}

.com-visual-small {
  background: url(../upload/bg_visual.jpg) no-repeat;
  background-size: cover;
  padding: 50px 0;
  .event-name {
    font-family: Palatino;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 1px 1.732px 5px rgb( 0, 0, 0 );
  }
}

.com-register {
  padding: 50px 0;
}

.btn-submit, .btn-submit:hover, .btn-submit:active, .btn-submit:visited {
  background: none;
  background-color: #de1e34;
  border-color: #a60c1e;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .btn-submit, .btn-submit:hover, .btn-submit:active, .btn-submit:visited {
    margin-bottom: 0px;
  }
}

.btn-reset, .btn-reset:hover, .btn-reset:active, .btn-reset:visited,
.btn-more, .btn-more:hover, .btn-more:active, .btn-more:visited,
.btn-hide, .btn-hide:hover, .btn-hide:active, .btn-hide:visited {
  background: none;
  background-color: #fff;
  border-color: #ccc;
}

.section-border {
  border: solid 1px #b5cbd4;
  padding: 16px 16px 0;
}

.com-thankyou {
  padding: 50px 0;
  .event-time {
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 48px;
  }
}

.btn-facebook, .btn-facebook:hover, .btn-facebook:active, .btn-facebook:visited {
  background: none;
  background-color: #264fbf;
  border-color: #002aa0;
}

.file-cv {
  padding-top: 7px;
}

.selectpicker {
  background: none;
  background-color: #fff;
  border-color: #ccc;
}

.com-table th, .com-table td {
  word-wrap: normal;
}